/*rwd_test_02_teblet_768.css*/




/*-design 기준:768px=============================================*/
@media screen and (min-width:768px) and  (max-width:959px) {
  /* #headbox=========================================================*/

  /* #contentbox=========================================================*/
  h1{width: 174px;}


 .view_area{height: 450px;}
 .tip_area{height: 240px;}
 
 .info_area{height:540px;}
 .info_area:after,
 .info_area::after{content:" "; display: block; width: 0; height: 0; clear:both;}
 .info_area>div{float:left; width:50%; height:540px;}
 .info_02{display:block;}

 /* #footbox=========================================================*/

 #footbox{ height: 120px; }
}