@charset "UTF-8";


#headbox{width:48rem; height: 9.375rem; background-color: aqua;}

.head_01{float:left; width: 6.25rem; height: 9.375rem; background-color: aquamarine;}
.head_02{float:left; width:41.75rem; height: 9.375rem;
background-color: chartreuse;}

#mainbox{width: 48rem; height: 18.75rem; background-color: deepskyblue;}

#viewbox{width: 48rem; height: 25rem; background-color: forestgreen;}
.view_01{float:left; width: 12rem; height: 25rem; background-color: gold}
.view_02{float:left; width: 12rem; height: 25rem; background-color: #444;}
.view_03{float:left; width: 12rem; height: 25rem; background-color: #777;}
.view_04{float:left; width: 12rem; height: 25rem; background-color:#999;}

#newsbox{width: 48rem; height: 18.75rem;
background-color: hotpink;}
.news_01{width: 48rem; height: 6.25rem; background-color: khaki;}
.news_02{width: 48rem; height: 12.5rem; background-color:#555;}

#footbox{width: 48rem; height: 6.25rem; 
background-color: lightblue;}
.foot_01{float: left; width: 6.25rem; height: 6.25rem;
background-color: lightcoral;}
.foot_02{float: left; width: 41.75rem; height: 6.25rem;
background-color: lightsalmon;}

