

#wrap{width: 100%; height: 865px; background-color: #fff;}
#headbox{position: fixed; z-index: 100; width:100%; height:145px; 
  background-color: #fff;}
#logobox{width: 165px; height:80px;
  margin-left:250px; 
background-image: url(../../img/Layer\ 2.png);
background-position: 50%;
background-repeat: no-repeat;}


#menubox{ width: 100%; height: 65px; border-top:1px solid #333; 
  border-bottom:1px solid #333;}
#menubox>ul{position: relative; float: left; width: 100%; height: auto;
  margin-left: 250px; margin: auto; }
  #menubox>ul::before{content:" "; display: block; width: 100vw; height: 100%;  
  /*  margin-left: -50vw; */ position: absolute; bottom:0; /* left: 50%; */ z-index: -100; background-color: #fff; }
#menubox>ul>li{float: left; width: 250px; height: auto;  margin-left: 50px; }
#menubox>ul>li>dl{width: 250px; height: auto;}
#menubox>ul>li>dl>dt{display:block; width: 250px; height: 65px;}
#menubox>ul>li>dl>dt>a{display: block; width: 100%; height: 100%; line-height: 65px; text-align: center; font-size: 1.2rem; color:#333;}
#menubox>ul>li>dl>dd{width: 250px; height: auto;/*  display:none; */ font-size: 1rem; padding-top: 20px;}
#menubox>ul>li>dl>dd>a{display: block; text-align: center;}



#menubox_02{width: 100%; height: 1000px; 
  background-color: #ccc;}

